<!DOCTYPE html>
    
<html>
    <head>
        <title>{% block html_page_title %}{% if page.title %}{{ page.title }}{% endif %}{% endblock %}</title>
        
	<meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script src="static/main.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.css" />
        <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
        <script src="static/ext/jquery.mobile.js"></script> 
    {%block head_extra %}
    
    {% endblock %}
    </head>
    <body>
        {% block body %}
            <div data-role="page">
                <div data-role='header'>
                    {% block page_title %}{% endblock %}
                    {% block header_content %}{% endblock %}
                </div>             
                <div data-role='content'>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul data-inset="true" data-theme='e' data-role="listview" class="flashes">
                                {% for message in messages %}
                                  <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                      {% endif %}
                    {% endwith %}
                            
                    {% block main_content %}{% endblock %}
                </div>
		{% block footer %}
                <div data-role='footer'>
                    {% block footer_title %}{% endblock %}
                    {% block footer_content %}{% endblock %}
                </div>
		{% endblock footer %}
            </div>
        {% endblock %}
    </body>
</html>